* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #251801;
    cursor: url('img/cursor.png'), pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.face {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #ffcd00;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 20px;
}

.face::before {
    content: "";
    position: absolute;
    top: 180px;
    width: 150px;
    height: 70px;
    background: #795003;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.face:hover::before {
    top: 210px;
    width: 150px;
    height: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.eyes {
    position: relative;
    top: -40px;
    display: flex;
    flex-wrap: wrap;
}

.eye {
    position: relative;
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 15px;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.eye::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: #333;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}

.container h2 {
    position: absolute;
    top: 70px;
    font-size: 2em;
    color: #fff;
    letter-spacing: 3px;
}

.face:hover {
    background: linear-gradient(180deg, #f44336, #f44336, #ffcd00);
}

.face:hover::before {
    background: #9d0b00;
}


